.pic-container{
    z-index: 0;
    width: 700px;
    height: auto;
    position: absolute;
    top: 100px;
    right: 5px;
    animation: fadeIn 1s 2.1s fadeIn backwards;


}
.solid-pic{
    width: 90%;
    height: auto;
    border: 1px solid #ffd700;

}

@media screen and (max-width: 1400px) {
    .pic-container {
        position: relative;
        width: 500px;
        height: auto;
        top: 50px;
        right: 0;
        box-sizing: border-box;
        margin: auto;
        left: 70px;
        
      }
    
      .pic-container svg {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
      }
    
}




